
-- AI Waiter Features
ALTER TABLE catalog_settings ADD COLUMN ai_waiter_enabled INTEGER DEFAULT 0;
ALTER TABLE catalog_settings ADD COLUMN ai_waiter_name TEXT DEFAULT 'Coredex AI';
ALTER TABLE catalog_settings ADD COLUMN ai_waiter_persona TEXT DEFAULT 'Friendly and helpful professional waiter';

CREATE TABLE IF NOT EXISTS catalog_ai_knowledge (
  id TEXT PRIMARY KEY,
  catalog_id TEXT NOT NULL REFERENCES catalogs(id) ON DELETE CASCADE,
  question TEXT NOT NULL,
  answer TEXT NOT NULL,
  source_type TEXT NOT NULL DEFAULT 'manual', -- 'manual', 'ai_generated', 'item_scrape'
  category TEXT, -- 'menu', 'policy', 'about', 'other'
  is_active INTEGER DEFAULT 1,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX IF NOT EXISTS idx_ai_knowledge_catalog ON catalog_ai_knowledge(catalog_id);

