ALTER TABLE catalog_subscriptions ADD COLUMN ai_image_enhancement_limit INTEGER DEFAULT 10; ALTER TABLE catalog_subscriptions ADD COLUMN ai_image_enhancement_used INTEGER DEFAULT 0; ALTER TABLE catalog_subscriptions ADD COLUMN ai_enhancement_reset_date TEXT;
